a{
    font-style: normal;
}

i {
  font-style: normal;
}

body {
background-color: #e4e9f7;
background-size: cover;
background-repeat: no-repeat;
font-style: normal;
}

.login-container {
background-color: white;
border-radius: 5px;
display: flex;
flex-direction: column;
gap: 10px;
width: 55rem;
}

.login-container form {
display: flex;
flex-direction: column;
gap: 10px;
}

.login-container h1 {
margin: 0;
font-size: 1.5rem;
color: #bdb9b9;
}

.input-group {
border: none;
}

.input-group label {
font-size: 20px;
font-weight: 500;
}

.input-group input {
font-size: 16px;
box-shadow: 0px -1px 4px #00000063;
border-radius: 5px;
color: black!important;
}

.input-group input[type="submit"]
{
color: white!important;
}

.input-group .alert-dismissible {
margin: 0;
border-radius: 5px;
font-size: 16px;
}

.btn-submit
{
border-radius: 6px;
background-color: rgb(11, 105, 154);
color: white;
font-size: 2.2rem;
font-weight: bold;
}

.btn-submit:hover {
color: white;
background-color: rgb(20, 130, 160);
}

.login-extra {
display: flex;
justify-content: center;
gap: 15px;
font-size: 15px;
}

.login-method {
display: flex;
gap: 36px;
justify-content: center;
font-size: 15px;
margin-right: 45px;
}

.login-method input {
margin-right: 6px;
}

.iti--separate-dial-code {
    width: 100%;
}

.continue-style {
display: flex;
gap: 5px;
align-items: center;
justify-content: center;
font-size: 17px;
flex-wrap: wrap;
align-content: baseline;
border: 1px solid black;
padding: 5px;
border-radius: 5px;
user-select: none;
}

.continue-style i {
margin-top: 3px;
}

#continue-seperator {
text-align: center;
}

#iti-0__country-listbox {
z-index: 9999999999999999999999999999999999999999999;
}

.password-container {
position: relative;
display: flex;
align-items: center;
align-items: flex-start;
flex-direction: column;
}

.password-input {
padding: 10px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 4px;
width: 200px;
}

.toggle-button {
position: absolute;
right: 10px;
padding: 5px;
border: none;
background-color: transparent;
cursor: pointer;
font-size: 14px;
z-index: 40;
color: #007BFF;
top: 43px;
}

.toggle-button:focus {
outline: none;
}

.close-button-user {
  position: absolute!important;
  right: 11px!important;
  top: 7px!important;
  font-size: 2rem!important;
  font-weight: bold!important;
  cursor: pointer!important;
  color: #333!important;
}

.close-button-user:hover {
  color: #6a6464!important;
}

@media (max-width: 900px)
{
    .app-login .app-body .app-block {
        width: 38rem !important;
    }
}

