a {
    font-style: normal!important;
}

i {
    font-style: normal!important;
}

body {
    background-color: white!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    font-style: normal!important;
}

.login-container {
    background-color: white!important;
    border-radius: 5px!important;
    display: flex!important;
    flex-direction: column!important;
    gap: 10px!important;
    width: 55rem!important;
}

.login-container form {
    display: flex!important;
    flex-direction: column!important;
    gap: 10px!important;
}

.login-container h1 {
    margin: 0!important;
    font-size: 1.5rem!important;
    color: #bdb9b9!important;
}

.input-group {
    border: none!important;
}

.input-group label {
    font-size: 20px!important;
    font-weight: 500!important;
}

.input-group input {
    font-size: 16px!important;
    box-shadow: 0px -1px 4px #00000063!important;
    border-radius: 5px!important;
    color: black !important;
}

.input-group .alert-dismissible {
    margin: 0!important;
    border-radius: 5px!important;
    font-size: 16px!important;
}

.btn-submit {
    border-radius: 6px!important;
    background-color: #213343!important;
    color: white!important;
    font-size: 2.2rem!important;
    font-weight: bold!important;
}

.btn-submit:hover {
    color: white!important;
    background-color: #192733!important;
}

.login-extra {
    display: flex!important;
    justify-content: center!important;
    gap: 15px!important;
    font-size: 15px!important;
}

.login-method {
    display: flex;
    gap: 36px!important;
    justify-content: center!important;
    font-size: 15px!important;
    margin-right: 45px!important;
}

.login-method input {
    margin-right: 6px!important;
}

.iti--separate-dial-code {
    width: 100%!important;
}

.continue-style {
    display: flex;
    gap: 5px!important;
    align-items: center!important;
    justify-content: center!important;
    font-size: 17px!important;
    flex-wrap: wrap!important;
    align-content: baseline!important;
    border: 1px solid black!important;
    padding: 5px!important;
    border-radius: 5px!important;
    user-select: none!important;
}

.continue-style i {
    margin-top: 3px!important;
}

#continue-seperator {
    text-align: center!important;
}

#iti-0__country-listbox {
    z-index: 9999999999999999999999999999999999999999999!important;
    position: relative!important;
}

.input-group .form-control {
    position: unset!important;
}

.close-button-user {
    position: absolute!important;
    right: 11px!important;
    top: 7px!important;
    font-size: 2rem!important;
    font-weight: bold!important;
    cursor: pointer!important;
    color: #333!important;
}

.close-button-user:hover {
    color: #6a6464!important;
}

@media (max-width: 900px)
{
    .login-container {
        width: 38rem !important;
    }
}
